.footer {
    background-color: #efefef;
    padding: 2rem 1rem; // Start with smaller padding for mobile devices
    font-family: Arial, sans-serif;
    color: #666;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: teal;
    text-decoration: none;
}

.footermain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footermain div {
    flex: 1;
}

.footermain h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.footermain ul {
    list-style: none;
    padding: 0;
}

.footermain ul li {
    margin-bottom: 0.5rem;
}

.footermain ul li a {
    color: #666;
    text-decoration: none;
}

.footermain ul li a:hover {
    color: #333;
}

.footerbreak {
    height: 1px;
    background-color: #ccc;
    margin-bottom: 2rem;
}

.footerbottom {
    display: flex;
    flex-direction: column; // Stack elements vertically on small screens
    align-items: center; // Center-align for small screens
    text-align: center;
}

.footerbottom ul {
    display: flex;
    flex-wrap: wrap; // Allow the list to wrap on small screens
    justify-content: center; // Center-align the list items
    padding: 0;
    margin: 0;
}

.footerbottom ul li {
    margin: 0.5rem; // Adjust spacing around each list item}
}

.footerbottom ul li a {
    color: #666;
    text-decoration: none;
}

.footerbottom ul li a:hover {
    color: #333;
}

.footerbottom p {
    color: #666;
}

.socialicon {
    color: #666;
    text-decoration: none;
    margin: 0.2rem;
}

/* Media Queries for Responsive Adjustments */
@media (min-width: 768px) {
    .footer {
        padding: 3rem 20rem; // Increase padding for larger screens
    }

    .footerbottom {
        flex-direction: row; // Use row layout for larger screens
        justify-content: space-between; // Distribute space between elements
        align-items: center;
        text-align: left;
    }

    .footerbottom ul {
        flex-wrap: nowrap; // Prevent list from wrapping on large screens
    }
}