.collapsible {
  border: 1px solid #000;
  border-radius: 4px;
  align-items: center;
  overflow: hidden;
  width: auto;
  padding: 1em;
  /* fix box not fitting all text when expanded */
}

.title {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
}

.content {
  padding: 0.5em;
  font-size: 1.4em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .collapsible {
    width: 100%;
  }

  .title {
    justify-content: flex-start; // Aligns the title to the left
    font-size: 1.2em;
  }

  .content {
    font-size: 1.2em;
    cursor: pointer;
  }
}