.heroWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.heroImage {
  object-fit: cover;
  object-position: center;
  /* show top of image */
}

.heroContent {
  display: flex;
  flex-direction: row; /* Align items side by side */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.textContainer {
  background-color: #ffffff; /* White background */
  padding: 20px; /* Adjust padding as needed */
  margin-left: -50px; /* Overlap the profile image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5); /* Optional: adds shadow for better separation */
}

.contentImage {
  box-shadow: 0 4px 6px rgba(0,0,0,0.5); /* Optional: adds shadow for better separation */
  border-radius: 3%; /* Make the image round */
}

.ctaButton {
  text-align: center;
  font-size: 1.5em;
  padding: .1em;
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor on hover */
  width: 140px;
  position: relative;
  left: 43%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ctaButton:hover {
  background-color: #0056b3; /* Darker shade of blue for hover effect */
}

@media (max-width: 768px) {
  .heroContent {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start to avoid overlap on small screens */
  }
  .textContainer {
    margin-left: 0; /* Remove overlap on small screens */
    margin-top: -20px; /* Adjust if you want to keep some overlap */
  }
}
